<form action="/" method = "POST">
    <div class="form-row form-item">
        <label>Nome:</label>
        <input type="text" name="nome">
        <label>Sobrenome:</label>
        <input type="text" name="sobrenome">
        <label>E-mail:</label>
        <input type="text" name="email">
    </div>
    <div class="form-row form-end">
        <button class="btn" type = "submit"> Calcular</button>
    </div>
</form>