<div class="form-row">
    <div class="form-item">
        <label>Animal:</label>
        <label class="form_item_special_label"> <%= result.animal %> </label>
    </div>
    <div class="form-item">
        <label>Cor:</label>
        <label class="form_item_special_label"> <%= result.cor %> </label>
    </div>
    <div class="form-item">
        <label>País:</label>
        <label class="form_item_special_label"> <%= result.pais %> </label>
    </div>
</div>
<div class="form-row form-end">
    <a class="btn" href="/">Retornar</a>
</div>