<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="main-css" rel="stylesheet" href="/css/main.css">
    <title>LiveU</title>
</head>
<body>
    <div class="container">
    <h2 class="page-header">Bem vindo</h2>
        <div class="inner-container">
                <% if (locals.result  != null) { %> 
                    <%- include('./_result', { result }) %>
                    <% } else { %> 
                    <%- include('./_form_fields') %>
                <% } %> 
        </div>
    </div>
</body>
</html>