<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="main-css" rel="stylesheet" href="/css/main.css">
    <title>LiveU</title>
</head>
<body>
    <div class="container">
    <h2 class="page-header">Bem vindo</h2>
        <div class="inner-container">
            <form action="/" method = "POST">
                <div class="form-row form-item">
                    <label>Nome</label>
                    <input type="text" name="nome">
                    <label>Sobrenome</label>
                    <input type="text" name="sobrenome">
                    <label>E-mail</label>
                    <input type="text" name="email">
                </div>
                <div class="form-row form-end">
                    <button class="btn" type = "submit"> Calcular</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>