:root {    
    --form-label-font-size: 1.2rem;
    --form-special-label-font-size: 2rem;
    --form-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
    --form-input-background-color: hsl(var(--color-base-hue), 70%, 40%);
}

.form-row {
    display: flex;
    margin-bottom: 0.5rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0%;
}

.form-end {
    justify-content: flex-end;
}

.form-item:first-child {
    margin-left: 0;
}

.form-item > label {
    font-size: var(--form-label-font-size);
    margin-bottom: 0.25rem;
    margin-left: .3rem;
}

.form_item_special_label {
    font-size: var(--form-special-label-font-size);
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    text-align: center;
}

.form-item input {
    height: 2rem;
    padding: 0.25rem .5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    color: var(--color-text-light );
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Verdana';
    outline: none;
}